Dockerfile
.dockerignore
node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.local
.env.production
.env.development
uploads/*
prisma/dev.db
prisma/dev.db-journal
data/*
.vscode
.idea
*.log
